body {
	background-color: #130052;
	margin: 0;
}

#container {
	display: flex;
}

#background-image {
	width: 70vh;
	height: 100vh;
}

#side-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#image-overlay {
	position: absolute;
	display: flex;
	background-color: black;
	width: 70vh;
	height: 15rem;
	margin-top: 10rem;
	opacity: 50%;
	color: white;
	align-items: center;
	justify-content: center;
	font-size: 7.5rem;
}

#odin-logo {
	width: 7.5rem;
	height: 10rem;
}

#credit {
	position: absolute;
	bottom: 1rem;
	color: white;
}

#credit > a {
	color: white;
}

#main-content {
	display: flex;
	flex-direction: column;
}

#section-info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: end;
	background-color: azure;
	font-size: 2rem;
	font-weight: bolder;
}



#section-form {
	background-color: aquamarine;
	height: 34vh !important;
}

#form {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

#form-heading {
	font-size: 2rem;
	font-weight: bolder;
}

#section-action {
	background-color: beige;
}

#account-create-btn > button {
	height: 3rem;
	width: 10rem;
	font-size: 1.1rem;
	border-radius: 0.5rem;
	font-weight: bold;
}

#sign-up-msg {
	font-size: 1.1rem;
	font-weight: bold;
}

#log-in-btn {
	color: tomato;
	text-decoration: none;
}

.main-content-section {
	display: flex;
	flex-direction: column;
	height: 33vh;
	padding: 1.5rem;
	box-sizing: border-box;
	gap: 1.5rem;
}

.form-row {
	display: flex;
	justify-content: space-between;
}

.form-field {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.form-field > label {
	font-size: 1.1rem;
	font-weight: bold;
}

.input-field {
	height: 1.5rem;
	width: 32rem;
	border-radius: 0.3rem;
}